/* general styles */
html, body {
  font-family: 'xkcd', Sans-Serif;
  color: #0b3b4b;
  font-size: 12px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background: #fffefa;
}

html body .header {
  font-size: 16px;
  margin-left: 2vw;
  margin-bottom: 2vh;
  border-bottom: 1px solid #c1c1c1;
} html body .header li {
  display: inline;
  margin-right: 20px;
}

@font-face {
  font-family: 'xkcd';
  src: url('../xkcd.otf') format('opentype');
}

#grid {
  margin-left: 2vw;
  margin-bottom: 2vw;
  float: left;
  width: 57vmin;
  height: 57vmin;
  border: 2px solid #c1c1c1;
  border-radius: 10px;
  position: relative;
} .fullClass {
  background: #c9d41b;
} .emptyClass {
  background: #fffefa;
} .agentClass {
  background: #ffbc29;
} .start-state {
  box-shadow: 0px 0px 0px 3px red;
  z-index: 3000000000;
} .end-state {
  box-shadow: 0px 0px 0px 3px green;
  z-index: 3000000000;
}

.row {
  clear: left;
  position: relative;
} .elt {
  float: left;
  position: relative;
  /*border: 2px solid black;*/
  text-align: center;
  overflow: hidden;
}

#controls {
  padding-left: 2vw;
  padding-right: 2vw;
  width: 70vmin;
  height: 50vmin;
  position: relative;
  float: left;
} #controls button { 
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'xkcd', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

#run-btn {
  box-shadow: 0 9px #a9b308;
  background-color: #c9d41b;
} #run-btn:active {
  background-color: #c9d41b;
  box-shadow: 0 5px #a9b308;
  transform: translateY(4px);
} #run-btn:hover {
  background-color: #dae52f;
  box-shadow: 0 9px #c9d41b;
} #run-btn:hover:active {
  box-shadow: 0 6px #c9d41b;
}

#submit-btn {
  box-shadow: 0 9px #32aba2;
  background-color: #4ecdc4;
} #submit-btn:active {
  background-color: #4ecdc4;
  box-shadow: 0 5px #a9b308;
  transform: translateY(4px);
} #submit-btn:hover {
  background-color: #69e7de;
  box-shadow: 0 9px #4ecdc4;
} #submit-btn:hover:active {
  box-shadow: 0 6px #4ecdc4;
}

#watch-btn {
  box-shadow: 0 9px #e4a418;
  background-color: #ffbc29;
} #watch-btn:active {
  background-color: #ffbc29;
  box-shadow: 0 5px #e4a418;
  transform: translateY(4px);
} #watch-btn:hover {
  background-color: #fdc54b;
  box-shadow: 0 9px #ffbc29;
} #watch-btn:hover:active {
  box-shadow: 0 6px #ffbc29;
}

#reset-btn {
  box-shadow: 0 9px #DB1F61;
  background-color: #f04681;
} #reset-btn:active {
  background-color: #f04681;
  box-shadow: 0 5px #db1f61;
  transform: translateY(4px);
} #reset-btn:hover {
  background-color: #f76095;
  box-shadow: 0 9px #f7367a;
} #reset-btn:hover:active {
  box-shadow: 0 6px #f7367a;
}

textarea {
  /* height/width awk, add auto expand */
  width: 100%;
  height: 100%;
  border: 2px solid #c1c1c1;
  border-left: 3px solid #c1c1c1;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  margin-bottom: 1vh;
} textarea:focus {
  border: 2px solid #0b3b4b;
  border-left: 3px solid #0b3b4b;
}

@media (max-width: 600px) {
  .content {
    font-size: 20px !important;
  } #grid, #controls {
    width: 90% !important;
    height: 90% !important;
    clear: both;
    margin-left: 2vw !important;
  }
}
